body {
    background-image: url(otrofondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}


a {
    text-decoration: none;
}

section article {
    margin: 6rem;
}

img {
    width: 600px;
    border: 2px solid white;
    cursor: pointer;
}