body {
    background-image: url(fondocine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rubik Iso', cursive;
}

.boton1 {
    padding-top: 300px;
    font-size: 40px;
    text-shadow: 5px 15px 5px blanchedalmond;
}

div a {
    color: white;
    text-decoration: none;
    font-family: 'Rubik Iso', cursive;
    transition: color .4s ease;
}

div a:hover  {
    color: blanchedalmond;
}

img {
    width: 300px;
    transition: box-shadow 1s ease;
}

img:hover {
    box-shadow: 5px 5px 85px grey;
}

