body {
    background-image: url(patrolbig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

section article {
    margin: 3rem;
}

img {
    width: 500px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}